
.imgCard{
    width: 300px;
    height: 250px;
    border: 1px solid dimgray;
    border-radius: 50%;
}

.card{
    margin: 2em;
}

.row{
    margin-left: 5em;
}

.rowTwo{
    margin-top: -25em;
}

.catContainer{
    width: 80%;
    margin-left: 18em;
    /*border: 2px solid red;*/
}
