.profile{
    margin-left: 12em;
    contain: content;
    width: 75%;
}

.profileBtn{
    width: 10em;
    font-size: 3em;
    /*background-color: gray;*/
    padding: 1em;
    margin: .25em;
    text-align: center;
    border-radius: 20%;
}
