/*nav {*/
/*    border-bottom: 3px solid grey;*/
/*}*/

.sideUl{
    text-decoration: none;
    list-style-type: none;
    margin-top: -1.3em;
    margin-right: 2em;
    border-right: 1px solid grey;
    height: 91vh;
    width: 22vw;
}

.sideNav input button{
    width: 20vw;
}

.sideNav ul a{
    color: black;

}

.sideNav ul li{
   width: 20vw;
    text-align: center;
    margin-top: -2em;
    padding-top: 1em;
    padding-bottom: 1em;
    color: black;
}

.welcome{
    /*padding: 1em;*/
}

.searchAd{
    /*width: 20vw;*/
    /*padding-top: -5em;*/
    /*padding-bottom: ;*/
}

.searchCat{
    width: 20vw;
}

.createAd{
 width: 20vw;
    padding-top: -.5em;
}

.catBtn{
    margin-top: .25em;
    margin-bottom: .25em;
    padding: .50em;
    width: 20vw
}

.adBtn{
    padding-top: .5em;
    padding-bottom: .5em;
    /*text-align:;*/
    width:  20vw;
}

.sideUl input{
    width: 20vw;
}


